.footer {
  width: 100%;
  padding: 20px;
  @include flex(center, space-between);
  margin-top: 2rem;

  @include device(m) {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  span {
    font-size: 1.2rem;
    color: $second-color;

    @include darkMode {
      color: $primary-color;
    }
  }
}
