.main {
  width: 100%;
  padding: 20px;
  @include flex(flex-start, space-between);
  @include device(m) {
    flex-direction: column;
    gap: 2rem;
  }

  .details {
    width: 60%;
    @include device(m) {
      width: 100%;
    }

    h1 {
      max-width: 600px;
      width: 100%;
      font-size: 4rem;
      margin-bottom: 2rem;

      @include device(m) {
        max-width: 100%;
      }
      @include device(s) {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      color: $second-color;

      @include darkMode {
        color: $primary-color;
      }
    }
  }

  .img-restaurant {
    text-align: right;
    width: 40%;
    @include device(m) {
      width: 100%;
    }

    img {
      max-width: 350px;
      width: 100%;
      border: 10px solid $second-color;
      transition: all 0.25s;
      object-fit: cover;
      padding: 0.8rem;
      border-radius: 5px;
      overflow: hidden;

      @include darkMode {
        border-color: $primary-color;
      }

      &:hover {
        padding: 0.5rem;
        transform: scale(1.1);
        margin-right: 1rem;
      }
    }
  }
}
